{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>file upload</title>#}
{#</head>#}
{#<body>#}
{##}
{#enctype="multipart/form-data"文件编码方式，必须设置，否则文件无法上传#}
{#<form action="/upload/" method="post" enctype="multipart/form-data">#}
{#    <input type="text" name="title">#}
{#    <input type="text" name="content">#}
{#    <input type="file" name="myfile">#}
{#    <input type="submit" value="upload">#}
{#</form>#}
{##}
{#</body>#}
{#</html>#}


{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}upload{% endblock %}
{% block css %}<link href="{% static 'css/register.css' %}" rel="stylesheet"/>{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">

{#          <form class='form-upload' action="/upload/" method="post" enctype="multipart/form-data">#}
{#              <h2 class="text-center">Welcome artist</h2>#}
{##}
{#              {{ new_arts }}#}
{##}
{#              <button type="upload" class="btn btn-default pull-left">reset</button>#}
{#              <button type="sign up" class="btn btn-primary pull-right">submit</button>#}
{#          </form>#}


            <form method="POST" enctype="multipart/form-data">
                <input type = "text" label = "title" name = "title">
                <input type = "text" label = "content" name = "content">
                <input type="file" name="img">
                <button type="submit">submit</button>
            </form>



        </div>
    </div> <!-- /container -->
{% endblock %}